.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

form .error {
    color: #ff0000;
    /*font-style: italic;*/
}

.dot-status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}


/* Prekick Off Form */

.commentTextArea {
    min-height:90px;
    max-height:120px;
}

.commentContent {
    min-height:0px;
    height:auto;
    width:100%;
    overflow-y:auto;
    overflow-x:hidden;
    background: rgb(235,237,239);
}

.commentContent > div > div > span {
    padding-left:4px !important;
    font-size:11px;
}


/* Card  */

.card-header span.card-header-label {
    font-weight: bold !important;
    color: #333;
}

/* boostrap swicth */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.overlay{
    position: absolute;
    display: none;
    top: 125px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.modal-header {
    cursor: move;
}


/* Datatable Netforum */

.datatable th:not(:first-child) {
	min-width: 100px !important;
	max-width: 150px !important;
}

.datatable th:first-child {
	min-width: 20px !important;
	max-width: 20px !important;
}

.datatable-column {
	width: auto !important;
	min-height:60px !important;
	max-height:200px !important;
  	height:200px !important;
  	word-wrap: break-word;
  	overflow:scroll;
}


/* Login Module */
.login-form-container {
	border:4px solid #00778b;
	border-radius:4px;
}

.login-button {
	background:#00778b;
	color:#fff;
	font-weight:bold;
}

.login-button:hover {
	background:#00778b;
	color:#fff;
	font-weight:bold;
	text-decoration: underline;
}

.login-form-container .card-body {
}

.minor-links {
	font-size: 13px !important;
}

body.login-page {
	background:url('../images/abstract-bg1.png');
	background-size: cover;
	background-color: rgb(241,240,237);
}

.scroll4::-webkit-scrollbar {
  width: 10px;
}
 
.scroll4::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.scroll4::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

.scroll4 {
  overflow-y: auto !important;
}

.scroll4 .ps__rail-x, .scroll4 .ps__rail-y {
    display: none;
}

.dropdown-cis {
  float: left;
  overflow: hidden;
}

.dropdown-cis .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  /*color: white;*/
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-cis:hover .dropbtn {
  background-color: #c8ced3;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-cis:hover .dropdown-content {
  display: block;
}

.dropicon i.fa.fa-caret-down {
    position: absolute;
    right: 0;
    top: 19px;
}
.dropicon {
    padding: 14px 29px 14px 14px;
    position: relative;
}


ul.dropdown-menu > li.user-header {
  height: auto !important;
}



